html, body{
  height: 100%;
}

.background{
  width: 100%;
  height: 100%;
}

.background-grey{
  background-color: #f5f5f5;
}

.sc-gradient{
  background: linear-gradient(#ff7500, #ff3400);
}

.img-circle{
  border-radius: 50%;
}

.avatar-img{
  width: 45px;
}

.topbar-avatar{
  margin-left: 0;
  margin-right: 0;
}

#selectedTrackTitle{
  margin-left: 20px;
}

#selectedTrackTitle h2{
  margin-top: 0;
  margin-bottom: 12px;
}

#selectedTrackTitle h4{
  margin: 0;
}

.artwork-list-img{
  width: 75px;
}

.selected{
  color: rgb(255,87,34);
}

.artwork-img{
  width: 100px;
}

#content{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  background-color: #f5f5f5;
}

.subtitle{
  color: gray;
}
