<md-toolbar class="sc-gradient">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between stretch">
    <div flex="15" layout="row" layout-align="start center" layout-margin class="topbar-avatar">
      <img ng-src="{{vm.user.avatar_url}}" alt="Avatar image" class="img-circle avatar-img"/>
      <h3 class="avatar_name">{{vm.user.full_name}}</h3>
    </div>
     <!-- <span flex></span> -->
     <h2 layout layout-align="center center">
       <i class="fa fa-2x fa-soundcloud" aria-hidden="true"></i>
       <span>&nbsp; SoundClouder</span>
     </h2>
     <!-- <span flex></span> -->
     <md-button ng-click="vm.logout()" layout layout-align="center center">
       <span>Logout</span>
       <i class="material-icons">power_settings_new</i>
     </md-button>
  </div>
</md-toolbar>
<div layout="row" flex>
    <!-- <md-button class="md-raised" ng-click="getFavorites()">Get my favorites</md-button> -->
    <md-sidenav
      ng-click=""
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-sm')"
      class="md-whiteframe-4dp" >

        <md-list>
          <md-list-item ng-repeat="track in vm.favorites" ng-click="vm.selectTrack(track)">
            <div layout="row" layout-align="start center" layout-margin ng-class="{'selected' : track === vm.selectedTrack }">
              <div layout="column" layout-align="center">
                <img ng-if="track.artwork_url" ng-src="{{track.artwork_url}}" alt="Avatar image" class="img-circle artwork-list-img"/>
                <img ng-if="!track.artwork_url" src="../assets/music_record.png" alt="Avatar image" class="img-circle artwork-list-img"/>
              </div>
              <div layout="column" layout-align="center">{{track.title | TitleFilter}}</div>
            </div>
          </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content flex id="content" ng-cloak>
      <img ng-if="vm.selectedTrack.artwork_url" ng-src="{{vm.selectedTrack.artwork_url}}" alt="Avatar image" class="img-circle artwork-img"/>
      <!-- <img ng-if="!selectedTrack.artwork_url" src="../assets/music_record.png" alt="Avatar image" class="img-circle artwork-img"/> -->
      <h2>{{vm.selectedTrack.title}}</h2>
      <h4 class="subtitle">Times played: {{vm.selectedTrack.playback_count}}</h4>
      <md-button class="md-primary" aria-label="Play sound" ng-click="vm.playSound()">Play</md-button>
      <md-button class="md-primary" aria-label="Stop sound" ng-click="vm.pauseSound()">Pause</md-button>
      <div id="playme">

      </div>
    </md-content>
</div>
